# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space

# Dart files
[*.dart]
indent_size = 2

# YAML files
[*.yaml]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
